/* 
    Document   : Jotto
    Created on : Oct 21, 2013, 12:03:36 AM
    Author     : Jessica
    Description:
        Purpose of the stylesheet follows.
*/

#splashScreen, #buttonDiv
{
    text-align:center;
}

#userNameDiv
{
    position:relative;
    left:557px;
    width:227px;
}

#passwordDiv
{
    position:relative;
    left:560px;
    width:227px;
}

#userNameDiv, #passwordDiv
{
    margin:5px;
}

#messageDiv
{
    color:red;
}

